
.about-inner {
    margin-bottom: 150px;
  }
  
  .aboutus {
    margin: 30px 0 30px 0;
    font-size: 45px;
    line-height: 61px;
  }

  @media (max-width: 1199px){
    .about-inner {
        padding-left: 15px;
      }
    .aboutus {
        font-size: 35px;
        line-height: 48px;
      }

  }

  @media (max-width: 767px){
    .about-inner {
        padding-left: 12px;
      }
      .aboutus {
        font-size: 22px;
        line-height: 30px;
      }

  }