.header {
  padding-top: 30px;
  padding-bottom: 36px;
}

.header-inner {
  position: relative;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

.logo {
  width: 127px;
  height: 23px;
  background-image: url(../resources/logo.png);
}

.nav-main {
  display: flex;
  gap: 60px;
}
.nav__main {
  display: block;
  font-size: 18px;
  line-height: 27px;
  text-decoration: none;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #121212;
}

.nav__main:hover {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  opacity: 0.5;
}

@media (max-width: 1199px) {
  .nav-main {
    display: none;
  }

  .header-inner {
    padding-left: 15px;
    padding-right: 17px;
    align-items: 0;
  }
}

