@import "../styles/about.css";
@import "../styles/button.css";
@import "../styles/intro.css";
@import "../styles/projects.css";
@import "../styles/services.css";
@import "../styles/reviews.css";

head {
  scroll-behavior: smooth;
}

body {
  font-family: "Manrope", sans-serif;
  background: #ffffff;
  font-style: normal;
  font-weight: 400;
}
h1,
h2,
h3,
p {
  letter-spacing: -0.03em;
}

h1 {
  font-size: 60px;
  line-height: 60px;
}

h2 {
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

h3 {
  margin-top: 13px;
  font-size: 30px;
  line-height: 41px;
}

.container {
  width: 1150px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }

  .main-title {
    font-size: 50px;
  }
}

@media (max-width: 767px) {
  .main-title {
    font-size: 30px;
    line-height: 32px;
  }
}
